<section class="hero is-info">
    <div class="hero-body">
        {{!--
        <div class="container"> --}}
            <div class="box dropdown is-pulled-right">
                <ul>
                    <li><a id="home" class="navbar-item" href="/">Home</a></li>
                    <li><a class="navbar-item" href="/saved">Saved Articles</a></li>
                    <li><a class="button is-primary navbar-item" href="/scrape">Get New Articles</a></li>
                </ul>
            </div>
            {{!--
        </div> --}}
    </div>
</section>

<img src="/assets/img/npr-logo-color.svg" alt="NPR Logo">
<h1 class="subtitle">News Scraper</h1>
<br>
<br>
<section class="section">
    <div class="container">
        <h2 class="title">Article Results</h2>
        <div id="scrape-results"></div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>NPR News Scraper</strong> by <a href="https://github.com/elkaleemom11/mongodb">Connie Elbon</a>
            </p>
        </div>
    </div>
</footer>


<script src="/assets/js/index.js"></script>