{{!--
<section class="hero is-info"> --}}
    <div class="hero-body">
        <div class="box dropdown is-pulled-right">
            <ul>
                <li><a class="navbar-item" href="/">Home</a></li>
                <li><a id="saved" class="navbar-item" href="/saved">Saved Articles</a></li>
            </ul>
        </div>
    </div>
    {{!--
</section> --}}
<img src="/assets/img/npr-logo-color.svg" alt="NPR Logo">
<h1 class="subtitle">News Scraper</h1>
{{!--
<section class="section"> --}} {{!--
    <div class="container"> --}} {{!--
        <h2 class="title">Article Results</h2> --}}
        <div id="scrape-results"></div>
        {{!--
    </div> --}} {{!--
</section> --}}
<section class="section">
    <div class="container">
        <h2 class="title">Saved Articles</h2>
        <div id="saved-results">
            <ul>
                {{#each article}}
                <li>
                    <div><a href={{article.url}}>{{article.title}}</a></div>
                    <div>
                        <p>{{article.description}}</p>
                    </div>
                </li>{{!-- article title and summary --}} {{/each}}

            </ul>
        </div>
    </div>
    {{!--
</section> --}}

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>NPR Scraper App</strong> by <a href="https://github.com/elkaleemom11/mongodb">Connie Elbon
                </a>
            </p>
        </div>
    </div>
</footer>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="comments-header" class="modal-card-title">
                {{!-- Modal header text dynamically rendered --}}
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div id="comments-list">
                <p>Write the first comment for this article.</p>
            </div>
            <hr>
            <div>
                <textarea id="new-comment-field"></textarea>
            </div>
        </section>
        <footer class="modal-card-foot">
            {{!-- Save comment button dynamically rendered to include data-id attribute of article--}}
        </footer>
    </div>
</div>

<script src="/assets/js/saved.js"></script>